<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Title{% endblock %}</title>
	{% style "/css/bootstrap.min.css" %}
	{% style "/css/style.css" %}
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				{% if auth %}
				<a href="/users" class="navbar-brand">Users<a/>
				{% else %}
				<a href="/users/new" class="navbar-brand">Create Account</a>
				{% endif %}
			</div>
			 <div class="navbar-header pull-right">
			 	{% if auth %}
			 	<a class="navbar-brand" href="/users/{{auth.user}}">
				Hello! {{auth.user}}
			 	</a>
			 	{% else %}
			 	<form class="navbar-form" method="post" action="/login">
			 	 {% antiforgery %}
			 	 <div class="form-group">
				    <input type="text" class="form-control" name="username" placeholder="Username" />
				    <input type="password" class="form-control" name="password" placeholder="Password" />
				    <input type="hidden" name="redirect-to" value="{{redirect-url}}" />
				  </div>
				  <button type="submit" class="btn btn-default">Login</button>
				</form>
				{% endif %}
			 </div>
		</div>
	</nav>
	<div class="container">
		{% block content %}The Content{% endblock %}
	</div>
</body>
</html>
