{% extends "templates/layout.html" %}
{% block title %}Edit User {{username}}{% endblock %}
{% block content %}
{% if errors %}
<div class="alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span>
	Make sure your input fields are correct!
</div>
{% endif %}
<p>Update User {{username}}</p>
<form method="post" action="/users/{{username}}">
	{% antiforgery %}
	<input name="_method" type="hidden" value="PUT" />
	<fieldset class="form-group {% if errors.email %}has-error{% endif %}">
		<label for="email">Email:</label>
		<input type="text" class="form-control" id="email" name="email" value="{{email}}" />
		{% if errors.email %}
		<span class="help-block">{{errors.email|first}}</span>
		{% endif %}
	</fieldset>
	<fieldset class="form-group {% if errors.password %}has-error{% endif %}">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password" value="{{password}}" />
		{% if errors.password %}
		<span class="help-block">{{errors.password|first}}</span>
		{% endif %}
	</fieldset>
	<input type="submit" class="form-control" />
</form>
{% endblock %}